body {
    background-color: white;

}
.jumbotron{
    background-color: white;
    padding: 2rem;
    border-radius: 0 3rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);


}
.card{
    transition: transform 0 2s;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.card:hover{
    transform: translatey(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.navbar{
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.btn-primary{
    background-color: cyan;
    border-color: cyan;

}
.btn-primary:hover{
    background-color: aqua;
    border-color: aqua;
}
